@import '../globalStyle.css';

.header {
  background-color: var(--main-color-dark);
  border-bottom: 1px solid var(--main-color-primary);
}

.header__link {
  text-decoration: none;
}

.header__title {
  color: var(--main-color-white);
  font-size: var(--main-size-title);
}
