@import '../globalStyle.css';

.tasks__container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tasks__container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.tasks__container__header--column {
  display: flex;
  align-items: center;
}

.tasks__container__header--button {
  font-size: 24px;
  color: var(--main-color-light);
  background-color: transparent;
  border: none;
  padding: 4px;
  margin-left: 16px;
  cursor: pointer;
}

.tasks__quantity {
  margin-right: 8px;
}

.tasks__quantity p {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--main-color-primary);
  font-weight: 600;
}

.tasks__container__header--button:active,
.tasks__container__header--button:focus {
  outline: none;
}

.tasks__search__container:focus,
.tasks__search__container:active {
  background-color: #007ac10f;
}

@media (max-width: 540px) {
  .tasks__container__header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .tasks__container__header--column {
    margin-bottom: 16px;
  }

  .tasks__container__header--column {
    width: 100%;
    text-align: center;
  }
}
