@import '../globalStyle.css';

.tasks__container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.tasks__container__header--column {
  display: flex;
  align-items: center;
}

.tasks__quantity {
  margin-right: 8px;
}

.tasks__quantity p {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--main-color-primary);
  font-weight: 600;
}

.tasks__search__container:focus,
.tasks__search__container:active {
  background-color: #007ac10f;
}

.tasks__container__header--button {
  color: white;
  font-weight: 800;
  background: var(--secondaty-color-dark);
  padding: 16px 24px;
  border-radius: 8px;
  text-decoration: none;
}

.tasks__container__header--button:hover {
  background: var(--secondary-color-primary);
}

@media (max-width: 540px) {
  .tasks__container__header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .tasks__container__header--column {
    margin-bottom: 16px;
  }

  .tasks__container__header--column,
  .tasks__container__header--button {
    width: 100%;
    text-align: center;
  }

  .tasks__container__header--button {
    margin: 0;
  }
}
